.button {
  background: #ab81f1;
  border-radius: 14px;
  border: none;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 133%;
  padding: 8px 24px 8px 24px;
  cursor: pointer;
  width: fit-content;
}
.button:disabled {
  background: #555555;
  pointer-events: none;
  color: var(--secondary-text-color);
}

.button_inactive {
  background: var(--primary-input-background-color);
  color: var(--secondary-text-color);
}
