.error {
  color: var(--primary-error-color);
  font-family: var(--font-family-text);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 110%;
  width: 100%;
  text-align: left;
  display: block;
  margin-top: 4px;
}

.error_bad-request {
  text-align: center;
}
