.auth-form {
  display: flex;
  max-width: 314px;
  margin: 60px 0 0 0;
  flex-direction: column;
  border: none;
  padding: 0;
  width: 288px;
}

.auth-form__input-container {
  position: relative;
  margin-bottom: 16px;
}

.auth-form__input-container:last-of-type {
  margin-bottom: 38px;
}

.auth-form__submit-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.auth-form__button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-form__button {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
}

.auth-form__button:disabled {
  pointer-events: none;
}
