.header {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.header__title {
  color: var(--primary-text-color);
  font-style: normal;
  font-family: var(--font-family-title);
  font-weight: normal;
  font-size: 53px;
  line-height: 120%;
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 30px;
  }
}
