.custom-input__input {
  background-color: var(--primary-input-background-color);
  filter: none;
  border-color: transparent;
  border-radius: 4px;
  height: 40px;
  border: none;
  color: #ffff;
  position: relative;
  width: 100%;
  padding: 16px 0 6px 12px;
  font-family: var(--font-family-text);
  width: 288px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--primary-input-background-color) inset;
  -webkit-text-fill-color: var(--primary-text-color);
  caret-color: #ffffff;
}

.custom-input__input:focus {
  border: 1px solid #ab81f1;
  box-shadow: none;
  outline: none;
}

.custom-input__input-label {
  padding: 0;
  position: absolute;
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  z-index: 1;
  left: 12px;
  top: 11px;
  bottom: 11px;
  transition: all 0.2s ease-in-out;
  font-family: var(--font-family-text);
}

.custom-input__input-label_active {
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  color: #ab81f1;
  top: 4px;
  transition: all 0.2s ease-in-out;
}

.custom-input__input-label_fill {
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  left: 12px;
  top: 4px;
  transition: all 0.2s ease-in-out;
}
